body{
    background-color: darkgrey;
    text-align: center;
    background-image: url(back4.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;  
    
}
* {
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.grid{
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: 30% 10% 60% ;
    grid-gap: 50px;
    width: 100vw;
    
}
.photo{
    text-align: center;
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    
    
}
.header{
    

    grid-row-start: 1;
    grid-row-end: auto;
    grid-column-start: 1;
    grid-column-end: 3;
    color: rgb(17, 3, 77);
    
    font: bold;
    font-size: 100px; 
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    
}

.profile{
    color: rgb(255, 255, 255);
    font-family: 'Prata', serif;
    font-size: 25px; 
    text-align: justify;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    
}

.nama{
    font-family: 'Merienda', cursive;
    color: rgb(13, 65, 179);
    font-size: 70px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    
}

.backgrd{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    background-color: rgba(115, 151, 151, 0.336);
}